@media(max-width: 1200px){
  .header{
    &-top{
      justify-content: space-between;
    }
    &-logo__link{
      margin-left: 0;
    }
    &-nav__item+.header-nav__item{
      margin-left: 10px;
    }
    &-nav__link{
      padding: 10px 7px;
    }
    &-content__img-bg{
      max-width: 45%;
      top: 20%;
    }
    &-content__title{
      font-size: 45px;
      line-height: 65px;
      margin-bottom: 0;
    }
  }
  .build{
    &-title{
      margin-bottom: 20px;
    }
    &-wrapper{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .info-company{
    &__content{
      margin-left: 10px;
    }
    &__content-title{
      font-size: 35px;
      line-height: 45px;
    }
    &__conten-text{
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
  .commercial{
    &__img-phone{
      right: 0;
    }
    &__item-title{
      max-width: 300px;
    }
  }
}

@media(max-width: 950px){
  .header{
    &-content__img-bg{
      display: none;
    }
    &-nav__link{
      font-size: 12px;
    }
  }
  .info{
    &-item{
      max-width: 150px;
      margin: 15px 0;
    }
    &-item__title{
      font-size: 30px;
      line-height: 40px;
    }
    &-item__link{
      font-size: 14px;
    }
  }
  .build {
    &-title {
      font-size: 35px;
    }

    &-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .calc{
    &__finish-title,
    &__work-title{
      font-size: 30px;
      line-height: 46px;
      max-width: 385px;
    }
  }
  .project{
    &-wrapper{
      grid-gap: 30px 50px;
    }
    &-item__title{
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  .info-company{
    &__wrapper{
      display: block;
    }
    &__img{
      transform: translateY(0);
    }
  }
  .commercial {
    &__wrapper{
      margin-bottom: 60px;
    }
    &__item-text {
      max-width: 300px;
    }
    &__img-phone{
      transform: translateY(-90%);
    }
  }
  .footer{
    &__nav{
      margin-right: 25px;
    }
    &__nav-link{
      font-size: 14px;
    }
  }
}

@media(max-width: 769px){
  .header{
    &-top{
      text-align: center;
      position: static;
    }
    &-logo__link{
      z-index: 3;
    }
    &-nav__list{
      display: block;
      position: absolute;
      top: -300%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2;
      transition: all .4s;
    }
    &-nav__list.active{
      top: 8%;
    }
    &-burger{
      display: block;
      z-index: 3;
    }
    &-burger__btn.active{
      background-color: #fff;
    }
    &-burger__btn.active::after{
      transform: rotate(-45deg);
      bottom: 19px;
    }
    &-burger__btn.active::before {
      transform: rotate(45deg);
      top: 19px;
    }
    &-nav__item{
     padding-bottom: 30px;
    }
    &-nav__item:first-child{
      padding-top: 50px;
    }
    &-nav__link{
      font-size: 16px;
      padding: 20px 30px;
    }
  }
  .gallery{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
    }
  }
  .partners{
    &__item-link{
      max-width: 148px;
    }
  }
}

@media(max-width: 570px){
  .build {
    &-wrapper {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 40px;
    }
    &-title{
      font-size: 25px;
    }
  }
  .calc{
    display: block;
    margin-bottom: 40px;
    &__finish{
      background-image: none;
    }
    &__finish-text,
    &__work-text{
      max-width: 200px;
    }
    &__finish-btn,
    &__work-btn{
      margin-bottom: 20px;
    }
  }
  .project{
    &-wrapper{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .commercial {
    &__img-phone {
      display: none;
    }
  }
  .gallery {
    &__inner {
     grid-template-columns: repeat(1, 1fr);
    }
  }
  .partners {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .footer {
    &__wrapper {
      display: block;
      padding: 20px 0;
    }
    &__messenger{
      margin-bottom: 15px;
    }
    &__info{
      display: block;
    }
  }
}

@media(max-width: 420px){
  .header{
    &-content__title{
      font-size: 36px;
      line-height: 45px;
    }
    &-content__text{
      font-size: 15px;
      line-height: 26px;
    }
  }
  .info{
    &-wrapper{
      display: block;
      text-align: center;
    }
    &-item{
      max-width: 100%;
    }
  }
  .commercial{
    &__item-title{
      padding-left: 10px;
      font-size: 30px;
      line-height: 40px;
    }
    &__item-text{
      padding-left: 10px;
      font-size: 16px;
      line-height: 28px;
    }
    &__item-link{
      padding-left: 10px;
    }
  }
  .partners {
    &__wrapper {
      display: block;
    }
  }
}