@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  height: 100vh;
  background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
  &-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0 auto;
    z-index: 2;
  }
  &-logo__link{
    display: flex;
    margin-left: 109px;
  }
  &-nav__list{
    display: flex;
  }
  &-nav__item+.header-nav__item {
    margin-left: 32px;
  }
  &-nav__link{
    padding: 10px 13px;
    @extend %manrope-500;
    font-size: 14px;
    color: #18191F;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: #183181;
      border-radius: 20px
    }
  }
  &-content{
    padding-top: 290px;
    max-width: 540px;
  }
  &-content__title{
    font-size: 72px;
    line-height: 98px;
    @extend %manrope-800;
    margin-bottom: 15px;
  }
  &-content__text{
    font-size: 18px;
    line-height: 32px;
    @extend %manrope-500;
    margin-bottom: 20px;
  }
  &-content__link{
    display: flex;
    align-items: center;
  }
  &-content__img{
    margin-right: 95px;
  }
  &-content__text-descr{
    position: relative;
    @extend %manrope-600;
    color: #18191F;
    text-transform: uppercase;
    &::before{
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      background-color: #18191F;
      top: 10px;
      left: -90px;
    }
  }
  &-content__img-bg{
    position: absolute;
    right: 0;
    top: 0;
  }
  
}

.info{
  &-wrapper{
    display: flex;
    justify-content: space-between
  }
  &-item{
    margin: 60px 0;
  }
  &-item__title{
    @extend %manrope-700;
    font-size: 48px;
    line-height: 64px;
  }
  &-item__link{
    @extend %manrope-500;
    color: #18191F;
  }
}

.build{
   background-image: url('../images/bg-build.png');
   background-repeat: no-repeat;
   background-position: bottom right;
   background-size: auto;
   background-position-x: 80%;
  &-title{
    @extend %manrope-700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  &-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 30px;
    margin-bottom: 80px; 
  }
  &-item{
    width: 255px;
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
  }
  &-item__title{
    font-size: 24px;
    line-height: 32px;
    @extend %manrope-500;
    padding: 24px 0 0 24px;
    color: #18191F
  }
}

.calc{
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  &__finish{
    background-image: url('../images/laptop.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-y: 80%;
    background-position-x: 90%;
    background-size: 300px 300px;
    background-color: #242A78;
    width: 100%;
  }
  &__finish-title{
    color: #fff;
    font-size: 48px;
    line-height: 64px;
    @extend %manrope-700;
    padding: 60px 50px 40px;
    max-width: 600px;
  }
  &__finish-text{
    color: #fff;
    @extend %manrope-400;
    font-size: 13px;
    padding: 0 0 54px 50px;
    max-width: 400px;
  }
  &__finish-btn{
    display: inline-block;
    padding: 18px 39px;
    background-color: #fff;
    color: #39373A;
    @extend %manrope-500;
    margin-left: 50px;
    margin-bottom: 250px;
  }
  &__work{
    background-image: url('../images/bg-calc.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }
  &__work-title {
     color: #39373A;
     font-size: 48px;
     line-height: 64px;
     @extend %manrope-700;
     padding: 60px 50px 40px;
     max-width: 600px;
  }
  &__work-text{
    color: #39373A;
    @extend %manrope-400;
    font-size: 13px;
    padding: 0 0 54px 50px;
    max-width: 400px;
  }
  &__work-btn{
    display: inline-block;
    padding: 18px 39px;
    background-color: #242A78;
    color: #fff;
    @extend %manrope-500;
    margin-left: 50px;
    margin-bottom: 250px;
  }
}

.project{
  &-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px 100px;
  }
  &-item{
    max-width: 500px;
    border-bottom: 1px solid #F4F5F7;
    padding-bottom: 26px;
  }
  &-item__title{
    font-size: 28px;
    line-height: 40px;
    @extend %manrope-600;
    margin-bottom: 25px;
    span{
      @extend %manrope-400;
    }
  }
  &-item__img{
    width: 500px;
    height: 375px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  &-item__content{
    display: flex;
    justify-content: space-between;
  }
  &-item__data{
    font-size: 14px;
    @extend %manrope-400;
  }
  &-item__link{
    padding: 10px 17px;
    background-color: #183181;
    color: #fff;
    font-size: 14px;
    @extend %manrope-400;
    border-radius: 30px
  }
  &-item__btn{
    text-align: center;
    margin: 90px 0 30px;
  }
}

.info-company{
  &__wrapper{
    display: flex;
    background-image: url('../images/bg-info-company.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    align-items: center;
    margin-top: 100px;
  }
  &__content{
    margin-left: 100px;
  }
  &__img{
    transform: translate(130px, -77px);
  }
  &__content-subtitle{
    @extend %manrope-600;
    font-size: 14px;
    color: #183181;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  &__content-title{
    margin-bottom: 30px;
  }
  &__conten-text{
    font-size: 18px;
    line-height: 32px;
    @extend %manrope-400;
    margin-bottom: 30px;
  }
  &__content-link{
    font-size: 20px;
    line-height: 30px;
    color: #183181;
    @extend %manrope-500;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow.svg');
      width: 22px;
      height: 14px;
      top: 8px;
      right: -40px;
    }
  }
}

.commercial{
  &__wrapper{
    margin-bottom: 180px;
  }
  &__item{
    background-color: #408EC7;
    border-radius: 20px;
    margin-top: 100px;
  }
  &__item-title{
    padding: 40px 0 35px 48px;
    @extend %manrope-700;
    font-size: 40px;
    line-height: 54px;
    color: #fff;
  }
  &__item-text{
    @extend %manrope-500;
    font-size: 18px;
    line-height: 32px;
    color: #F1F2F6;
    max-width: 445px;
    padding: 0 0 38px 48px;
  }
  &__item-link{
    @extend %manrope-600;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 0 0 35px 48px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-big.svg');
      width: 33px;
      height: 21px;
      top: 10px;
      right: -60px;
    }
  }
  &__img-phone{
    position: absolute;
    right: 23%;
    transform: translateY(-77%)
  }

}

.gallery{
  &__title{
    @extend %manrope-700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 40px;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 15px;
    margin-bottom: 100px;
  }
  &__img{
    object-fit: cover;
    width: 350px;
    height: 350px;
  }
}

.partners{
  background-color: #F4F5F7;
  &__title{
    padding: 60px 0 10px;
    @extend %manrope-700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
  }
  &__subtitle{
    @extend %manrope-500;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 50px;
    text-align: center;
  }
  &__wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
  }
  &__item-link{
    display: block;
    width: 170px;
    height: 96px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 25px;
  }
  &__item-img{
    padding: 40px 50px;
  }
}

.footer{
  background-color: #0B0D17;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }
  &__copyright{
    font-size: 14px;
    line-height: 24px;
    @extend %manrope-500;
    color: #D9DBE1;
    margin-bottom: 10px;
    display: block;
    max-width: 120px;
  }
  &__reserved{
    font-size: 14px;
    line-height: 24px;
    @extend %manrope-500;
    color: #D9DBE1;
    margin-bottom: 40px;
  }
  &__connection{
    display: flex;
  }
  &__connection-link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #141414;
    margin-right: 16px;
  }
  &__connection-img{
    margin: 10px auto;
  }
  &__info{
    display: flex;
  }
  &__nav{
    margin-right: 50px;
  }
  &__nav-title{
    font-size: 20px;
    line-height: 30px;
    @extend %manrope-500;
    color: #fff;
    margin-bottom: 24px;
  }
  &__nav-item{
    margin-bottom: 11px;
  }
  &__nav-link{
    line-height: 26px;
    color: #D9DBE1;
    @extend %manrope-400;
  }
  &__nav-input{
    width: 255px;
    padding: 10px 40px 10px 15px;
    background-color: #141414;
    color: #D9DBE1;
    font-size: 14px;
    @extend %manrope-400;
    border: none;
    border-radius: 10px;
  }
  &__nav-btn{
    border: none;
    background-color: inherit;
    margin-left: -40px;
    cursor: pointer;
    transform: translateY(5px)
  }

}


@import 'media';